.contaner {
  background-color: #002232;
}
.ad_wrap img {
  width: 100%;
}
.video_con {
  overflow: hidden;
}
.item_title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #e8393a;
  padding: 20px 0;
}
.video_wrap {
  margin-right: -0.8rem;
  padding: 0 0.8rem;
}
.video_wrap .videoItem {
  float: left;
  margin-bottom: 20px;
  width: 50%;
}
.video_wrap .videoItem .inner {
  padding-right: 0.8rem;
}
.video_wrap .videoItem .inner .video {
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  overflow: hidden;
  position: relative;
}
.video_wrap .videoItem .inner .video img {
  width: 100%;
}
.video_wrap .videoItem .inner .video:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.42) url(../assets/play.png) center center no-repeat;
  width: 100%;
  height: 100%;
}
.video_wrap .videoItem .inner .title {
  font-size: 0.8rem;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  color: #fff;
}
.video_wrap .videoItem .inner .tip {
  font-size: 8px;
  color: #999;
}
.playerback {
  background: #292929;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 9999;
}
.playerback .back {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 30px;
  background: #21c5e0;
  border: none;
  border-radius: 4px;
  color: #fff;
}
.playerback .prism-player {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  margin: auto;
  position: absolute;
}
.item_tip {
  font-size: 0.9rem;
  font-weight: bold;
  color: #f2bd5e;
  padding: 20px 0;
}
.item_tip::before {
  content: "";
  border-width: 5px 0 5px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #f2bd5e;
  float: left;
  margin: 3px 5px 0 10px;
}
.specil {
  background: #fff;
  padding: 0.8rem;
}
.specil .item {
  border: 1px solid #f2bd5e;
  padding: 10px;
}
.specil .item .title {
  text-align: center;
  margin-bottom: 10px;
  color: #f2bd5e;
}
.specil .item ul {
  float: left;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}
.specil .item ul:last-child {
  float: right;
}
.specil .item ul li::before {
  content: "●";
  color: #ee6038;
  margin-right: 10px;
}
.specil .item .user img {
  border-radius: 100%;
  width: 50px;
  float: left;
  margin-right: 20px;
}
.specil .item .user .info {
  float: left;
  line-height: 25px;
}
.choseb .item {
  float: left;
  width: 33.3333333%;
  padding: 5px;
}
.choseb .item .inner {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
  position: relative;
}
.choseb .item .inner .icon {
  background-image: url(../assets/vipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 0;
  padding-bottom: 80%;
}
.choseb .item .inner .old {
  text-decoration: line-through;
  color: #999;
}
.choseb .item .inner .price {
  margin-bottom: 10px;
}
.choseb .item .inner .price span {
  color: #ff6840;
  font-size: 1.5rem;
}
.choseb .item .inner::after {
  content: "";
  background-image: url(../assets/vipse_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15px;
}
.choseb .item.active .inner .icon {
  background-image: url(../assets/vips.png);
}
.choseb .item.active .inner::after {
  background-image: url(../assets/vips_icon.png);
}
.buy_con {
  padding: 40px 40px 0;
  text-align: center;
}
.buy_con .buy {
  padding: 10px 40px;
  color: #fff;
  border-radius: 30px;
  background: -webkit-linear-gradient(right, #ff4340, #ff6a40);
  background: -o-linear-gradient(right, #ff4340, #ff6a40);
  background: -moz-linear-gradient(right, #ff4340, #ff6a40);
  background: linear-gradient(right, #ff4340, #ff6a40);
}
.buy_con p {
  font-size: 0.9rem;
  color: #999;
  padding: 10px 0;
}
